.heading {
      font-weight: bold;
      text-align: center;
}

.line-separator{

      height:1px;
      background:#717171;
      border-bottom:1px solid #313030;

}

.enter{
  display: block;
}


h1 {
  font-size: 40px;
  display: inline;
}
dt {
  font-size: 10px;
  display: block;
}

span {
   display: block;
}

.links {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

body {
    color: #000080;
}

a {
    color: #800080;
}

a:visited {
    color: #ff0000;
}

body {
    background-color: #ffffff;
}

.ad {
    text-align: center;
    font-size: 10px;
}

.footer {
    font-size: 12px;
}